p{
    margin: 0 auto;
    text-align: center;

}

.primary-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    padding: 0.18rem calc((100vw - 1000px) / 2);;
}

.navbar{
    background-color: white !important;
}

.btn{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
}

.btn:hover{
    background-color: #000000;
    color: #ffffff;
}

.cart{
    height: 20px;
    width: 20px;
    border: none;
    background-repeat: no-repeat;
    background-image: url("https://t3.ftcdn.net/jpg/03/14/84/68/360_F_314846831_5jJsC7Us9obgwMjRDqFhs04dodzvnZvi.jpg");
    background-size: 28px;
    background-position-y: center;
    background-position-x: center;
    outline: none;
    line-height: 48px;
    padding: 0px;
    font-size: 16px;
    border-radius: 60%;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

.cart-count{
    height: 24px;
    width: 24px;
    border: none;
    color: #ffffff;
    background-color: black;
    outline: none;
    line-height: 24px;
    padding: 0px;
    font-size: 16px;
    border-radius: 120%;
    text-align: center;
    position: relative;
    vertical-align: middle;
}
